.example-h3 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}
.listdemoListControls mat-divider {
  margin-top: 0;
  margin-bottom: 0;
}

.listdemoListControls mat-list {
  padding-top: 0;
}

.listdemoListControls mat-list-item > p,
.listdemoListControls mat-list-item > .mat-list-item-inner > p,
.listdemoListControls mat-list-item .mat-list-item-inner > p,
.listdemoListControls
  mat-list-item
  .mat-list-item-inner
  > .mat-list-item-inner
  > p {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}
