<div *ngIf="question">
  <mat-chip-list>
    <mat-chip *ngIf="question.version === '7.1'" color="primary" selected="true"
      >LSA 7.1</mat-chip
    >
    <mat-chip *ngIf="question.version === '7.3'" color="accent" selected="true"
      >LSA 7.3</mat-chip
    >
  </mat-chip-list>
  <h2>{{ question.id }}: {{ question.name }}</h2>

  <mat-list>
    <mat-list-item *ngFor="let o of question.options">
      <mat-checkbox
        class="mat-secondary"
        [value]="o.isSelected"
        (click)="onSelect(o)"
        >{{ o.name }}</mat-checkbox
      ><br />
    </mat-list-item>
  </mat-list>
  <br />
</div>
