<mat-toolbar layout="row" color="dark-warn">
  <nav>
    <a mat-raised-button color="primary" routerLink="/LSAQuiz">LSA</a>
    <!--<a mat-raised-button color="primary" routerLink="/CSSAQuiz">CSSA</a>-->
    <a mat-raised-button color="primary" routerLink="/CSAQuiz">CSA</a>
  </nav>
  <span> </span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <!-- <span>Shuffle
    <mat-slide-toggle class="example-margin" (click)="setShuffling()" [checked]="shouldShuffle"></mat-slide-toggle>
  </span> -->
</mat-toolbar>
<router-outlet></router-outlet>
