.progress-h2 {
  margin: 10px;
}

.progress-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.progress-margin {
  margin: 0 10px;
}

.mat-slider {
  width: 400px;
}
