<mat-card *ngIf="selectedQuiz">
  <div *ngIf="!isComplete && selectedQuestion">
    <mat-card-title>
      Question {{ answeredQuestions }} / {{ numQuestions }}
      <!-- <mat-slider
                    class="example-margin"
                    [max]="100"
                    [min]="min"
                    [step]="step"
                    [tickInterval]="tickInterval"
                    [(ngModel)]="numQuestions"
                    (change)="sliderChanged($event.value)">
                </mat-slider> -->
      <section class="progress-section">
        <mat-progress-bar
          class="progress-margin"
          [value]="progress"
          [bufferValue]="0"
        ></mat-progress-bar>
      </section>
    </mat-card-title>
    <mat-card-content>
      <app-question-detail
        [question]="selectedQuestion"
        (answered)="submit(selectedQuestion)"
        *ngIf="!isComplete"
      ></app-question-detail>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-button-raised
        class="mat-primary"
        (click)="submit(selectedQuestion)"
      >
        Submit
      </button>
      <button mat-button-raised class="mat-primary" (click)="done()">
        Done
      </button>
    </mat-card-actions>
  </div>

  <div *ngIf="isComplete && selectedQuestion">
    <mat-card-title>Review Answers</mat-card-title>
    <mat-card-content>
      <app-view-results [questions]="questions"></app-view-results>
    </mat-card-content>
  </div>
</mat-card>
